@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400&family=Jost&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Jost', sans-serif;
}
.home--background{
  background: #4d4d4e;
}


.owl-prev, .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}

.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {color: black;font-size: 20px;font-weight: bolder;}

.owl-item.active.center {
  transform: scale(1.3, 1.4);
  margin-bottom: 7vh;
}

.card--wrapper {
  min-width: 300px;
}


/* cart */
.cartImg{
  max-width: 100px;
}
.price{
  margin-right: -140px;
}
.quantity{
  margin-right: -300px;
}
.info{
  background: black;
  opacity: .7;
  color: white;
  margin-top: -40px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 9px;
}