@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400&family=Jost&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Jost', sans-serif;
}
.home--background{
  background: #4d4d4e;
}


.owl-prev, .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}

.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {color: black;font-size: 20px;font-weight: bolder;}

.owl-item.active.center {
  transform: scale(1.3, 1.4);
  margin-bottom: 7vh;
}

.card--wrapper {
  min-width: 300px;
}


/* cart */
.cartImg{
  max-width: 100px;
}
.price{
  margin-right: -140px;
}
.quantity{
  margin-right: -300px;
}
/* absolute bottom-0 left-0 right-0 px-2 py-4 h-18v bg-black rounded-bl-2xl rounded-br-2xl	flex flex-col justify-center items-center w-12/12 opacity-80 text-white */
.overlay:hover{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 80;
}