@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400&family=Jost&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Jost', sans-serif;
}
.home--background{
  background: #4d4d4e;
}


.owl-prev, .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
}
.owl-prev { left: -20px; }
.owl-next { right: -20px; }
.owl-prev i, .owl-next i {color: black;font-size: 20px;font-weight: bolder;}

.owl-item.active.center {
  transform: scale(1.3, 1.4);
  margin-bottom: 7vh;
}

.card--wrapper {
  min-width: 300px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* cart */
.cartImg{
  max-width: 100px;
}
.price{
  margin-right: -140px;
}
.quantity{
  margin-right: -300px;
}

/* Hero section */
.wraper{
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
}

.div-1{
  width: calc( 50% - 40px) ;
  height: 100vh;
  background: #ff005b;
}

.div-2{
  width: calc( 50% + 40px );
  height: 100vh;
  background: #17274c;
  border-left: 80px solid #ff005b;
  border-bottom: 630px solid transparent;
  box-sizing: border-box;
}

.content{
  color: white;
  font-size: 16px;
  padding: 15px;
}